/**
 * Geo Mashup Map styles.
 *
 * This is a copy of "map-style-default.css" in the Geo Mashup plugin directory.
 *
 * @package WPCV_EO_Maps
 * @since 1.0
 */



/*
--------------------------------------------------------------------------------
Maps fill the frame, makes percentage height maps a bit easier
--------------------------------------------------------------------------------
*/

html, body
{
	height: 100%;
	overflow: hidden;
}

body
{
	margin: 0;
	padding: 0;
}



/*
--------------------------------------------------------------------------------
Post date and tags/categories
--------------------------------------------------------------------------------
*/

.meta
{
	font-size: 60%;
}

.meta .blogdate
{
	font-style: italic;
}



/*
--------------------------------------------------------------------------------
Info window
--------------------------------------------------------------------------------
*/

.locationinfo
{
	font-size: 80%;
	overflow: auto;
	width: 300px;
	height: 150px;
}

	.ol-popup .locationinfo
	{
		font-size: 80%;
		overflow: auto;
		width: auto;
		height: auto;
	}

.user-location-info
{
	font-size: 80%;
	overflow: auto;
	width: 150px;
	height: 80px;
}

.comment-location-info
{
	font-size: 80%;
	overflow: auto;
	width: 200px;
	height: 140px;
}

.info-window-max
{
	font-size: 80%;
	overflow: auto;
}



/*
--------------------------------------------------------------------------------
Title link style
--------------------------------------------------------------------------------
*/

.locationinfo h2 a,
.info-window-max h2 a
{
	text-decoration: none;
	margin: 0;
	padding: 0;
}



/*
--------------------------------------------------------------------------------
Post basics
--------------------------------------------------------------------------------
*/

.post-location-info .location-post
{
	margin: 0 0 10px 0;
}

.post-location-info .post_header
{
	position: relative;
	padding: 5px;
	border: 1px solid #ddd;
	border-bottom: none;
	background: #f6f6f6;
}

.post-location-info .post_header_text
{
	color: #000;
}

.post-location-info .post_header h2 a
{
	color: #000;
}



/*
--------------------------------------------------------------------------------
Post title
--------------------------------------------------------------------------------
*/

.post-location-info .post_header h2
{
	font-family: sans-serif;
	font-size: 1.6em;
	font-weight: 400;
	margin: 0 0 0.1em 0;
	padding: 0;
	line-height: 1;
}

.post-location-info .post_header h2 a
{
	color: #384677;
	text-decoration: none;
}

.post-location-info p.postname
{
	font-family: sans-serif;
	font-size: 0.8em;
	color: #999;
	margin: 0 0 0.2em 0;
	padding: 0 2px;
	line-height: 1;
}

.post-location-info p.postname a
{
	color: #999;
	text-decoration: underline;
}



/*
--------------------------------------------------------------------------------
When the item has a Feature Image
--------------------------------------------------------------------------------
*/

.post-location-info .has_feature_image .post_header
{
	border: none;
	position: relative;
	padding: 0;
}

.post-location-info .has_feature_image .post_header a.feature-link
{
	display: block;
	line-height: 0;
}

.post-location-info .has_feature_image .post_header a.feature-link img
{
	max-width: 100%;
	height: auto;
}

.post-location-info .has_feature_image .post_header .post_header_text
{
	width: 94%;
	margin: 0;
	padding: 3%;
	background: #000;
	background: rgba( 0, 0, 0, 0.25 );
	position: absolute;
	top: 0;
}

.post-location-info .has_feature_image .post_header h2 a
{
	color: #fff;
}

.post-location-info .has_feature_image .post_header p.postname
{
	color: #202B6D;
}

.post-location-info .has_feature_image .post_header p.postname a
{
	color: #202B6D;
}



/*
--------------------------------------------------------------------------------
Post content
--------------------------------------------------------------------------------
*/

.post-location-info .location-post .storycontent
{
	padding: 5px 5px 15px 5px;
	border: 1px solid #ddd;
	border-top: none;
	background: #f6f6f6;
}

.post-location-info .location-post .storycontent p
{
	margin: 0 0 15px 0;
	font-family: sans-serif;
	line-height: 1.6;
	font-size: 11px !important;
	font-weight: 400;
}

.post-location-info .location-post .storycontent a.more-link
{
	text-transform: uppercase;
	font-size: 11px !important;
	font-weight: bold;
	font-family: sans-serif;
	padding: 5px 7px;
	color: #fff;
	background-color: #3199cc;
	text-decoration: none;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	line-height: 1;
}

.post-location-info .location-post .storycontent a.more-link:hover
{
	color: #fff;
	background-color: #535f89;
}



/*
--------------------------------------------------------------------------------
"Ball Host" and "Partner" Post Type overrides
--------------------------------------------------------------------------------
*/

.post-location-info .location-post.post_type_host,
.post-location-info .location-post.post_type_partner
{
	background-color: #535f89;
}

.post-location-info .location-post.post_type_host .post_header,
.post-location-info .location-post.post_type_partner .post_header
{
	background: transparent;
	padding: 1em 0;
	text-align: center;
}

.post-location-info .location-post.post_type_host .post_header h2,
.post-location-info .location-post.post_type_partner .post_header h2
{
	font-family: sans-serif;
	font-size: 1.6em;
	font-weight: 400;
	margin: 0.5em 0 0.5em 0;
	padding: 0;
	line-height: 1;
}

.post-location-info .location-post.post_type_host .post_header h2 a,
.post-location-info .location-post.post_type_partner .post_header h2 a
{
	color: #fff;
	text-decoration: none;
}

.post-location-info .location-post.post_type_host .post_header .post_header_text,
.post-location-info .location-post.post_type_partner .post_header .post_header_text
{
	width: auto;
	margin: 0;
	padding: 0;
	position: static;
	top: auto;
	background: transparent;
}

.post-location-info  .location-post.post_type_host .storycontent,
.post-location-info  .location-post.post_type_partner .storycontent
{
	padding-bottom: 5px;
}

.post-location-info  .location-post.post_type_host .storycontent p,
.post-location-info  .location-post.post_type_partner .storycontent p
{
	margin: 0;
}
